#encabezado {  
    background-repeat: no-repeat; 
    height: 200px;
    background-image: url(Logo_de_la_Universidad_de_Colima.svg);
    background-position: 12rem;
    background-size: 11rem;
    background-position-y: -1px;
}

#encabezado h1 {
    color: black;
    text-align: center;
    padding: 70px;
}

#barraNav {
    background: rgb(59, 140, 59);
    height:45px;
}

#barraNav ul li{
    margin-right: 50px;
    float: left;
}

#barraNav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
}

a:hover {
    background: rgb(194, 185, 185);
    height: 45px;
}

.contenedor {
    padding-top: 50px;
    width: 100%; background: rgb(126, 120, 120);
    margin: auto;
    height: 800px;
}

.contenedor-form {
    padding-top: 50px;
    width: 50%; background: rgb(126, 120, 120);
    margin: auto;
    height: 800px;
    
}

.contenedor #listado {
    width: 50%;
    margin: auto;
    background: rgb(135, 189, 135);
    height: 250px;
    border-radius: 15px;
}

.contenedor #charlas {
    width: 50%;
    margin: auto;
    background: rgb(135, 189, 135);
    height: 250px;
    border-radius: 15px;
}

.contenedor #programación {
    width: 50%;
    margin: auto;
    background: rgb(135, 189, 135);
    height: 250px;
    border-radius: 15px;
}

.cont_text {
    padding: 30px;
}